@{
    ViewData["Title"] = "Blog";
}


@foreach (var post in DataAccess.LoadPosts())
{
    <div class="content post">
        <h1 class="h_white">@post.Title</h1>
        <p class="white">Date: @post.PublishDate</p>
        <p class="white">
            @Html.Raw(DataAccess.Truncate(post.Content, 90))
            <a class="link" href="/Post/@post.Slug"> Edit</a>
            <a class="link" href="/PostDelete/@post.Slug"> Delete</a>
            <a class="link" href="/PostPreview/@post.Slug"> Preview</a>
        </p>
    </div>
    <br>
}