@{
    ViewData["Title"] = "New Notification";
    var forms = new[]{"Title", "Description", "Delay", "Iterations"};
}

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="PostResult">
    <table>
        @foreach (var form in forms) //TODO: Use IDs instead of slugs.
        {
            if (form == "Content")
            {
                <tr>
                    <td>@form: </td>
                    <td>
                        <textarea name="Content"></textarea>
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>@form: </td>
                    <td>
                        <input type="text" name="@form"/>
                    </td>
                </tr>
            }
        }
        <tr>
            <td></td>
            <td><input class="input_btn" type="submit" value="Submit"/></td>
        </tr>
    </table>
</form>