@{
    ViewData["Title"] = "Admin Panel";
    var forms = new[]{"Title", "Content", "IsDraft", "Keywords", "Category"};
}

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="PostResult">
    <table>
        @foreach (var form in forms)
        {
            if (form == "Content")
            {
                <tr>
                    <td>@form: </td>
                    <td>
                        <textarea name="Content"></textarea>
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>@form: </td>
                    <td>
                        <input type="text" name="@form"/>
                    </td>
                </tr>
            }
        }
        <tr>
            <td></td>
            <td><input class="input_btn" type="submit" value="Submit"/></td>
        </tr>
    </table>
</form>