@{
    var post = DataAccess.LoadPosts("Slug", HomeController.PostTitle)[0];
    ViewData["Title"] = post.Title;
    <div class="content white">
        <h1 class="h_white">@post.Title</h1>
        @Html.Raw(post.Content)
        <p class="white">@post.PublishDate</p>
    </div>
    <br>
}