html {
    font-family: "Roboto", sans-serif;
    background: #1c1c1c;
    margin: 0 auto;
}

.content {
    margin: 0 auto;
    width: 90%;
}

@media screen and (max-width: 900px) {
    html {
        width: 100%;
    }
    .footer a {
        float: none;
        display: block;
        text-align: left;
    }
}

.h_white{
    color: white;
}

.header {
    overflow: hidden;
    border-radius: 10px;
    background-color: #161616;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: #e0e0e0;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    background-color: #10569c;
}

.header a.active {
    background-color: #10569c;
    color: white;
}

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}

.white {
    color: #e0e0e0;
}

.footer {
    border-radius: 10px;
    overflow: hidden;
    background-color: #161616;
    padding: 20px 10px;
}

.footer a {
    float: left;
    color: #e0e0e0;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 50px;
}

#github_logo {
    padding-left: 5px;
}

.link:link {
    color: #e0e0e0;
}
.link:visited {
    color: #e0e0e0;
}
.link:hover {
    color: #e0e0e0;
}

@media screen and (max-width: 900px) {
    .content {
        width: 100%;
    }
    .footer a {
        float: none;
        display: block;
        text-align: left;
    }
}

input {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-align: center;
    margin-left: 10px;
    border: #161616;
    height: 30px;
    color: #e0e0e0;
    background-color: #161616;
    border-radius: 5px;
}

textarea {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    margin-left: 10px;
    border: #161616;
    height: 30px;
    color: #e0e0e0;
    background-color: #161616;
    border-radius: 5px;
}

.time {
    width: 40px;
    height: 30px;
    margin-left: 10px;
    text-align: left;
    color: #e0e0e0;
}

table {
    width: 30%;
}

.iterations {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    margin-left: 10px;
    width: 215px;
    text-align: left;
    border: #161616;
    height: 32px;
    color: #e0e0e0;
    background-color: #161616;
    border-radius: 5px;
}

.input_btn {
    background-color: #10569c;
    border: none;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    color: #e0e0e0;
    border-radius: 5px;
}